<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <!-- Launchd label（必須與檔名一致） -->
    <key>Label</key>
    <string>com.blissify.start</string>

    <!-- 要執行的指令 -->
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/usr/local/bin/blissify.py</string>
        <string>-c</string>
		<string>.mpd/blissify.conf</string>
    </array>

    <!-- 在登入時啟動 -->
    <key>RunAtLoad</key>
    <true/>

    <!-- 若程式結束則自動重啟 -->
    <key>KeepAlive</key>
    <true/>

	<!-- 設定工作目錄，讓相對路徑生效 -->
	<key>WorkingDirectory</key>
	<string>HOME</string>

	<!-- 設定 PATH，確保依賴的工具可被找到 -->
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>

</dict>
</plist>